.form_section{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;

}

#add_form{
    margin-top: 67px;
}


.form_center{
    padding: 20px;
    width: 500px;
    height: 400px;
    background-color:white;
    opacity: 1;
    border-radius: 5px;
    text-align: center;


}

.form-group input{
    width: 60%;
    padding: 10px;
    border: none;
    margin: 5px;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 10px;
}
.form-group input::placeholder{
    color: black;
    opacity: 0.5;

}


#Add_btn{
    width: 63%;
    padding: 10px;
    border: none;
    margin: 5px;
    font-size: 18px;
    background-color: #806bcd;
    color: white;
    border-radius: 10px;
    
}

.fa-regular{
    margin-top: -20px;
    font-size: 1.7em;
    float: right;
}


.fa-regular:hover{
    color: rgb(205, 40, 3);
    transform: rotate(30deg);

}

